body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDF2C5;
    font-family: 'Noto Sans', sans-serif;
    
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    width: 1120px;
    height: 900px;
    top: 166px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
}
.header {
    width: 1122px;
    height: 62px;
    top: 36px;
    left: 160px;
    padding: 0px 0px 2px 0px;
    gap: 0px;
    opacity: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.header h1{
    font-size: 44px;
    font-family: Typography System - Noto Sans;
    color: #778A50;
    font-weight: 800;
    
}

.header_img{
    display: flex;
    align-items: center;
}

.header img{
    height: 22px;
    margin-left: 10px;
    
}

.header p{
    color: #778A50;
    font-size: 14px;
    margin-left: 10px;
    margin: 100;
    border: 1.5px solid #778A50;
    padding: 2px;
    font-weight: 700;
}

.nav{
    font-weight: 800;
}

.nav ul {
    list-style: none;
    padding: 0;
    width: 1120px;
    height: 44px;
    top: 106px;
    left: 160px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background-color:#778A50;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.nav li {
    display: inline;
    margin: 0 30px;
    
}

.nav a {
    width: Hug (740px)px;
    height: Hug (56px)px;
    top: 701px;
    left: 40px;
    gap: 10px;
    opacity: 0px;

    text-decoration: none;
    color: #EDF2C5;
    font-size: 16px;
    
}

.bigImg img {
    max-width: 100%;
    height: auto;
}

.content_area{
    display: flex;
    justify-content: space-between;
    display: flex;
    margin-bottom: 0;
}

.smallImg_Line{
    width: 520px;
    height: 44px;
    top: 106px;
    left: 160px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background-color:#778A50;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}

.smallImg_Line h3{
    font-size: 16px;
    line-height: 24px;
    color:  #EDF2C5;
    margin: 0 30px;
    font-weight: 800;
    
}

.smallImg{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.smallImg img{
    height: auto;
}

.sidebar_Line {
    width: 520px;
    height: 44px;
    top: 106px;
    left: 160px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    background-color:#778A50;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 15px;
    
    display: flex;
    align-items: center;
}

.sidebar_Line h3 {
    font-size: 16px;
    line-height: 24px;
    color:  #EDF2C5;
    margin: 0 30px;
    font-weight: 800;
}

.smallImg{
    width: 50%;
}

.p_area {
    width: 520px;
    height: auto;
    top: 106px;
    left: 160px;
    gap: 0;
    border-radius: 3px 0 0 0;
    opacity: 1;
    background-color: #F7FBDA;
    padding: 20px;
    box-sizing: border-box;
}

.p_area p {
    font-size: 12px;
    margin: 0;
    color: #7D7D7D;
}

.p_area p:first-of-type {
    margin-bottom: 0;
}

.p_area hr {
    margin: 10px 0;
}

.p_area p:nth-of-type(2) {
    margin: 0;
}

.p_area p:last-of-type {
    margin: 0;
}





.footer1 {
    height: 60px;
    width: 100%;
    background-color: #778A50; 
    text-align: center;
    color: #EDF2C5;
    padding-top: 20px;
    box-sizing: border-box;

}

.footer1 p {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
}